* {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    box-sizing: border-box;
}

/* palette: 
243010 - dark green rgb(36,48,16)
87A330 -apple green rgb(135,163,48)
a1c349 - yellow green rgb(161,195,73)
CAD593 - sage - rgb(202,213,147)
ECF8F8 - azure (off white) rgb(248,249,240) */


body {
    display: flex;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: rgb(248,249,240);
    color: rgb(36,48,16);
}

button {
    border: none;
}

button:hover {
    background-color: rgb(135,163,48);
}

main {
    flex-direction: column;
    width: 100%;
    margin-left: 13vw;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
}

/* LEFT ASIDE */

.leftnav {
    width: 13vw;
    height: 100%;
    position: fixed;
    background-color: rgb(36,48,16);
    color: white;
    z-index: 1;
}

.profile {
   width: 10vw;
   clip-path: circle(60px at center);
}

.profile-pair {
    vertical-align: middle;
}

.name {
    margin-left: 30px;
}

.left-text {
    padding: 5px;
}

/* TOP SEARCH */

.top-search {
    flex-direction: row;
    height: 60px;
    width: 100%;
    padding: 0px;
    border: none;
    font-size: 12pt;
}

.top-button {
    background-color:  rgb(248,249,240);
    border: solid 1px rgb(202,213,147);
    width: 60px;
    font-size: 15pt;
}

.search {
    width: 84%;
}

/* TITLE SECTION */

.save-edit-delete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.sed-button {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-color: rgb(202,213,147);
    margin: 10px;
    font-size: 20pt;
}

.find-your-nearest {
    color: rgb(135,163,48);
}

/* TAB LIST SECTION */
.tabs{ 
    display: flex;
    padding: 0px;
    color: rgb(202,213,147);
    margin: 0px;
}

.tab {
    padding: 20px;
}

.tab1 {
    color: rgb(36,48,16);
    border-bottom: solid 1px rgb(36,48,16);
}

/* GRAPHS SECTION */

.pie1 {
    width: 200px;
    height: 200px;
    background: conic-gradient(rgb(135,163,48) 0 80%, rgb(161,195,73) 0 10%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.pie-inner {
    width: 175px;
    height: 175px;
    background-color: rgb(202,213,147);
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pie-innertext {
    font-size: 50pt;
    margin: 0px;
}

.pie-text-label {
    font-size: 15pt;
    margin: 0px;
}

.pie-middle {
    margin-top: 40px;
}

.pie2 {
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom left, rgb(135,163,48) 50%, rgb(161,195,73) 50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}
.pie3 {
    width: 200px;
    height: 200px;
    background: conic-gradient(rgb(135,163,48) 0 30%, rgb(161,195,73) 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.graphs-sect {
    display: flex;
    height: 40vh;
    background-color: rgb(202,213,147);
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-content: space-around;
}

.chart {
    width: 300px;
    height: 200px;
}

.chart-label {
    padding: 10px;
    width: 100px;
    align-self: center;
    position: relative;
    top: 45px;
    border-radius: 25px;
}

.pies {
    display: flex;
    flex-flow: column wrap;
}

.pie-and-label {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.chart-and-label {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.title-details {
    display: flex;
    justify-content: space-between;
}

.pie-totals {
    position: relative;
    top: 90px;
    padding: 10px;
    border-radius: 25px;
}

/* BOTTOM GENERAL */

.bottom {
    display: flex;
    flex-direction: row;
    background-color: rgb(202,213,147);
}

/* BOTTOM TABLE */

.table-box {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 50px;
    background-color: rgb(248,249,240);
}

td, th {
    padding: 25px;
}

.table-title {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: rgb(36,48,16);
}

.job-desc {
    margin-left: 30px;
    margin-right: 15px;
    color: white;
}

.edit-button {
    width: 75px;
    height: 30px;
    background-color: rgb(135,163,48);
    border: none;
    padding:5px;
    color: white;
}
.edit-button:hover {
    background-color: rgb(248,249,240);
    color:rgb(36,48,16);
}

/* BOTTOM LINKS ASIDE */

.post-buttons {
    display:flex;
    flex-direction: column;
}

.post-fb,
.tweet,
.post {
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-size: 15pt;
}

.links {
    display: flex;
    flex-direction: row;
    width: 40vh;
    margin: 50px;
}

.link{
    background-color: rgb(248,249,240);
    padding: 10px;
}

.copy {
    height: 38px;
    background-color: rgb(135,163,48);
}

.copy:hover {
    background-color: rgb(36,48,16);
    color:rgb(248,249,240);
}

.link-copy {
    display: flex;
    align-items: center;
}

